{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }
</style>
{% endblock %}

{% block title %}
Subways
{% endblock %}


{% block content %}

<div class="container">
    <div class="row pb-5">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Subways In the Area</h1>

            <table class="table">
                <tr>
                    <th>title</th>
                    <th>address_1</th>
                    <th>open_hours</th>
                    <th>city</th>
                    <th>state</th>
                    <th>postal_code</th>
                    <th>latitude</th>
                    <th>longitude</th>
                </tr>

                <!-- here is a for-loop to give us all the socks -->
                {% for sub in subway %}
                <tr>
                    <td>{{ sub.title }}</td>
                    <td>{{ sub.address_1 }}</td>
                    <td>{{ sub.open_hours }}</td>
                    <td>{{ sub.city }}</td>
                    <td>{{ sub.state }}</td>
                    <td>{{ sub.postal_code }}</td>
                    <td>{{ sub.latitude }}</td>
                    <td>{{ sub.longitude }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}